@import url('bootstrap-extended.css');
@import url('colors.css');
@import url('components.css');
@import url("https://db.onlinewebfonts.com/c/a85976799f11330f194b1dc04c954666?family=Bahij+TheSansArabic+Plain");

[data-textdirection="rtl"] body {
  font-family: "Bahij TheSansArabic Plain", sans-serif !important;
}

.text-red {
  color: #dc0d05;
}

.text-slate {
  color: #0a0f1a;
}

.text-xl {
  font-size: 24px;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: 700;
}

.rounded {
  border-radius: 15px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.btn-main {
  background-color: #dc0d05 !important;
  border: 1px solid #dc0d05 !important;
  color: white;
  transition: .5s;
  border-radius: 10px;
}

.btn-main:hover,
.btn-main:focus,
.btn-info:hover,
.btn-info:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c30700 !important;
  border-color: #c30700 !important;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #dc0d05 !important;
  border-color: #dc0d05 !important;
  border-radius: 10px !important;
}

.btn-info {
  background-color: #fff !important;
  border-color: #dc0d05 !important;
  color: #dc0d05 !important;
  border-radius: 10px !important;
}

.input-custom {
  border-radius: 10px !important;
}

.input-custom:focus {
  border-color: #dc0d05 !important;
}

.form-control-position i {
  font-size: 18px;
}

.icheckbox_square-blue {
  border-radius: 2px;
}

.main-menu.menu-dark .navigation,
.navbar-semi-dark .navbar-header {
  background-color: #020617;
}

.menu-collapsed .main-menu.menu-dark .navigation>li>a {
  text-align: center;
}

.main-menu.menu-dark .navigation>li>a {
  border-radius: 10px;
  margin: 5px 3px;
}

.main-menu.menu-dark .navigation>li.hover>a,
.main-menu.menu-dark .navigation>li:hover>a,
.main-menu.menu-dark .navigation>li.active>a,
.main-menu.menu-dark .navigation>li.open>a {
  color: #fff;
  border-right: none !important;
  background: rgb(220 38 38) !important;
}

.menu-collapsed .menu-title {
  color: #fff;
  border-right: none !important;
  background: rgb(220 38 38) !important;
  border-radius: 0 10px 10px 0px;
}

.custom-navbrand {
  width: fit-content;
  overflow: hidden;
  text-align: center;
}

.menu-expanded .header-navbar .navbar-header .navbar-brand .brand-logo {
  width: 100px;
}

/* .dataTables_wrapper {
  overflow-x: auto !important;
  zoom: 0.87;
} */

.dataTables_wrapper tbody td img {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #fafafa;
}

.custom-file-label {
  right: 18px !important;
  left: 18px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  padding: 0 25px !important;
}